<nav class="navbar navbar-expand-lg navbar-dark bg-navy shadow-sm">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" routerLink="/" (click)="closeMenu()">
      <img src="assets/logo.png" alt="Logo" style="border-radius: 50%;" width="40" height="40" class="me-2">
      <span class="fw-bold fs-4">Authoria</span>
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto align-items-lg-center">

        <!-- Always visible -->
        <li class="nav-item">
          <a routerLink="/" class="nav-link" (click)="closeMenu()">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" (click)="closeMenu()">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/login" class="nav-link" (click)="closeMenu()">Login</a>
        </li>

        <!-- Search and Favourites visible but disabled if not logged in -->
       <li class="nav-item">
         <a class="nav-link"
          [routerLink]="isLoggedIn ? '/search' : null"
          (click)="!isLoggedIn && handleProtectedAccess('Please login to access Search')">
          Search
       </a>
      </li>

  <li class="nav-item">
  <a class="nav-link"
     [routerLink]="isLoggedIn ? '/favourites' : null"
     (click)="!isLoggedIn && handleProtectedAccess('Please login to access Favourites')">
     Favourites
  </a>
  </li>


        <!-- Logout visible only if logged in -->
        <li class="nav-item" *ngIf="isLoggedIn">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
